@import "../../styles/mixins";
@import "../../styles/fonts";

.box {
    padding-left: 140px;
    @include flexbox;
    @include justify-content(space-between);
}

.contacts {
    padding: 140px 0;
    display: grid;
    grid-row-gap: 72px;
    &__heading {
        @include heading;
    }
    &__text {
        @include content;
    }
    &__svg {
        @include box(24px);
        fill: $svg-secondary;
    }
    &__elem {
        @include grid-column(2, 24px);
    }
    &__elems {
        display: grid;
        grid-row-gap: 48px;
    }
}

.map {
    height: 624px;
    width: 50%;
}
