@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.container {
    padding: 50px 120px;
}

.header {
    @include grid-column(3, 138px);
    &__phone {
        margin-left: 22px;
    }
}

.nav {
    @include grid-column(5, 40px);
    &__link {
        border-bottom: 1px solid $invisible;
        &:hover {
            border-bottom: 1px solid $link-underline;
        }
        &:active {
            border-bottom: 1px solid $link-act;
            & .nav__text {
                color: $link-act;
            }
        }
    }
    &__text {
        @include link;
    }
}

.phone {
    @include grid-column(2, 12px);
    &__img {
        @include box(16px);
    }
    &__number {
        @include content-nav;
    }
}
