@import "../../styles/colors";
@import "../../styles/mixins";

.box {
    margin: 113px 120px;
    height: 600px;
    background: url("../../assets/img/action-card.png") #fff no-repeat;
    background-size: 600px 600px;
    background-position: right bottom;
}

.feedback {
    padding: 27px 0 27px 20px;
    width: 50%;
    height: 100%;
    display: grid;
    grid-row-gap: 48px;
    grid-template-rows: repeat(2, max-content);
    &__desc {
        display: grid;
        grid-row-gap: 72px;
        grid-template-rows: repeat(2, max-content);
    }
    &__inputs {
        display: grid;
        grid-row-gap: 24px;
        grid-template-rows: repeat(2, max-content);
    }
    &__form {
        width: 360px;
        display: grid;
        grid-row-gap: 36px;
        grid-template-rows: repeat(2, max-content);
    }
}

.heading {
    @include text(3rem, 700, 56px, $header);
}

.text {
    @include text(1rem, 400, 24px, $p-main);
}
