$bg: #fff;
$bg-footer: #f1f1f1;

$invisible: rgba(0, 0, 0, 0);

$table-grad: #fff;
$comment-shadow: rgba(126, 120, 141, 0.15);

/*TEXT*/
$content: #38374e;
$content-mainscreen: #f1f1f1;
$content-nav: #fff;
$content-footer: #a6acbb;
$heading: #020131;
$heading-mainscreen: #f1f1f1;
$slogan: #fff;
$comment-date: #a6acbb;

/*LINKS*/
$link: #fff;
$link-footer: #a6acbb;
$link-hov: #0037d8;
$link-act: #0033ca;
$link-underline: #fff;

/*BTN*/
// default
$btn-txt: #fff;
$btn-bg: #0037d8;
$btn-hov: #1a4bdc;
$btn-active: #0033ca;
// mainscreen
$btn-txt-secondary: #0037d8;
$btn-bg-secondary: #fff;
$btn-hov-secondary: #f1f1f1;
// radio
$radio-bg: #fff;
$radio-border: #0037d8;
$radio-txt-hover: #fff;
$radio-bg-hov: #0037d8;

/*INPUT*/
$input-ph: #a6acbb;
$input-txt: #38374e;
$input-border: #a6acbb;
$input-focus: #0037d8;
$wrong: #d50059;

/*SCROLL-BAR*/
$track: #f1f1f1;
$thumb: #ffffff;
$thumb-hover: #f1f1f1;
$thumb-shadow: rgba(126, 120, 141, 0.15);

/*SVG*/
$svg-primary: #fff;
$svg-secondary: #0037d8;
