$background: #fff;
$background-footer: #f1f1f1;
$footer: #f1f1f1;
$comment-shadow: rgba(126, 120, 141, 0.15);
/*text-colors*/
$date: #a6acbb;
$p-main: #38374e;
$p-footer: #a6acbb;
$link-footer: #a6acbb;
$link-footer-hov: #0037d8;
$link-footer-act: #0033ca;
$header: #020131;
$wrong: #d50059;
$invisible: rgba(0, 0, 0, 0);
$btn: #0033ca;
$btn-promo: #fff;
$main-page: #fff;
$main-page-secondary: #f1f1f1;
/*btn-colors*/
$btn-main: #0037d8;
$btn-background: #fff;
$btn-background-hov: #f1f1f1;
$btn-promo-background: #0037d8;
$btn-promo-background-hov: #1a4bdc;
$btn-promo-background-active: #0033ca;
$btn-pricelist-hov: #0037d8;
$btn-pricelist-active: #0033ca;
$btn-pricelist-text: #0037d8;
$btn-pricelist-border: #0037d8;
$btn-pricelist-text-hov: #fff;
/*input */
$input-ph: #a6acbb;
$input-txt: #38374e;
$input-border: #0037D8;
/*scroll-bar*/
$track: #f1f1f1;
$thumb: #ffffff;
$thumb-hover: #f1f1f1;
$thumb-shadow: rgba(126, 120, 141, 0.15);
/*SVG*/
$svg-blue: #0037d8;
