@import "../../styles/colors";
@import "../../styles/mixins";

.box {
    padding: 100px 140px;
}

.pricelist {
    display: grid;
    grid-row-gap: 72px;
    &__heading {
        @include text(3rem, 700, 56px, $header);
    }
    &__panel {
        display: grid;
        grid-row-gap: 60px;
    }
}

.panel {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(5, max-content);
}