@import "../../../styles/mixins";
@import "../../../styles/fonts";
@import "../../../styles/colors";

.box {
    padding: 140px;
    display: grid;
    grid-row-gap: 72px;
    overflow: hidden;
}

.heading {
    @include heading;
}

.slider__cards {
    @include grid-column(2, 40px);
}

.btn {
    cursor: pointer;
    background: $invisible;
}