@import "../../../../styles/colors";
@import "../../../../styles/mixins";
@import "../../../../styles/fonts";

.input {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid $input-border;
    @include input-text;
    @include placeholder {
        @include input-ph;
    }
    &:focus {
        border-bottom: 1px solid $input-focus;
    }
}
