@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.input {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid $input-border;
    @include text(1rem, 400, 24px, $input-txt);
    @include placeholder {
        @include text(1rem, 400, 24px, $input-ph);
    }
    // &:focus {
    //     padding: 14px 14px 13px 14px;
    //     border: 2px solid red;
    // }
}
