@import '../../../styles/mixins';
@import '../../../styles/colors';

.btn {
    padding: 20px 24px;
    @include border-radius(40px);
    cursor: pointer;
    width: max-content;
    background-color: $btn-background;
    &:hover {
        background-color: $btn-background-hov;
    }
    &__text {
        @include text(1rem, 500, 24px, $btn-main);
    }
}
