@import "../../../styles/mixins";
@import "../../../styles/colors";


.slide {
    @include grid-column(2, 0);
    grid-template-columns: 360px 400px;
    &__box {
        width: 760px;
    }
    &__img {
        @include box(360px, 464px);
    }
    &__info {
        margin: 60px 40px;
        @include grid-row(4, 24px);
    }
    &__name {
        @include text(2.25rem, 700, 52px, $header);
        text-align: start;
    }
    &__desc {
        max-height: 96px;
        overflow: hidden;
        @include text(1rem, 400, 24px, $p-main);
        text-align: start;
        white-space: pre-line;
    }
    &__price {
        @include text(1.5rem, 700, 24px, $header);
        text-align: start;
        text-decoration: none;
        &_old {
            text-decoration: line-through;
        }
    }
    &__gradient {
        display: inline-block;
        position: relative;
        line-height: 0;
        cursor: pointer;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(270deg, #FFFFFF 24.6%, rgba(255, 255, 255, 0) 104.6%);
            opacity: 0.8;
        }
    }
}

.desc__position {
    margin-top: 24px;
}

.price__position {
    margin-bottom: 12px;
}
