@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.slide {
    @include grid-column(2, 0);
    grid-template-columns: 360px 400px;
    &__box {
        width: 760px;
    }
    &__img {
        @include box(360px, 464px);
    }
    &__info {
        margin: 60px 40px;
        @include grid-row(4, 24px);
    }
    &__name {
        @include heading-promo;
        text-align: start;
    }
    &__desc {
        @include content;
        max-height: 96px;
        overflow: hidden;
        text-align: start;
        white-space: pre-line;
    }
    &__price {
        @include price;
        text-align: start;
        text-decoration: none;
        &_old {
            text-decoration: line-through;
        }
    }
}

.desc__position {
    margin-top: 24px;
}

.price__position {
    margin-bottom: 12px;
}
