@import "../../../styles/mixins";
@import "../../../styles/fonts";

.box {
    @include box(360px, 260px);
}

.card {
    @include box(100%);
    @include grid-row(2, 24px, min-content);
    justify-items: center;
    &__img {
        @include box(140px);
    }
    &__description {
        @include content;
        text-align: center;
        white-space: pre-line;
    }
}
