@import "../../../../styles/mixins";
@import "../../../../styles/colors";

.btn {
    padding: 24px 40px;
    @include border-radius(40px);
    border: 1px solid $btn-pricelist-border;
    cursor: pointer;
    width: max-content;
    background-color: $btn-background;
    &:hover {
        background-color: $btn-pricelist-hov;
        & .btn__text {
            color: $btn-pricelist-text-hov;
        }
    }
    &:active {
        background-color: $btn-pricelist-active;
        & .btn__text {
            color: $btn-pricelist-text-hov;
        }
    }
    &__text {
        @include text(1.5rem, 700, 29px, $btn-pricelist-text);
    }
}

.active {
    background-color: $btn-pricelist-hov;
    & .btn__text {
        color: $btn-pricelist-text-hov;
    }
}
