@import "../../../styles/mixins";
@import "../../../styles/fonts";

.box {
    padding: 140px 0;
    display: grid;
    grid-row-gap: 72px;
    overflow: hidden;
}

.heading {
    text-align: center;
    @include heading;
}

.slider {
    &__cards {
        @include grid-column(3, 120px);
    }
}

.btn {
    cursor: pointer;
    background: $invisible;
}