@import "../../../../styles/mixins";
@import "../../../../styles/colors";
@import "../../../../styles/fonts";

.btn {
    padding: 20px 0;
    @include border-radius(40px);
    cursor: pointer;
    background-color: $btn-bg;
    &:hover {
        background-color: $btn-hov;
    }
    &:active {
        background-color: $btn-active;
    }
    &__text {
        @include btn-txt;
    }
}
