@import '../../../styles/mixins';
@import '../../../styles/colors';

.aboutUs-box {
    padding: 100px 140px;
    @include grid-row(2, 72px);
    grid-template-columns: max-content;
}

.aboutUs {
    &__heading {
        @include text(3rem, 700, 56px, $header);
        text-align: center;
    }
    &__elems {
        @include grid-column(3, 40px, 1fr);
        grid-row-gap: 48px;
    }
}

